body {
    font-family: 'Lucida Sans', sans-serif ;
    background-color: black;
    font-size: 18px;
    line-height: 2.0;
    margin: 0;
    padding-top: 3.0em;
    color: white;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%
}

.container {
    display: flex;
    justify-content: center;
}

.centered {
    margin-top: 60px;
    text-align: center;
    background-color: black;
    width: 60%

}

h1 {
    color: white;
    font-weight: 250;
    font-size: 2.5em;
    line-height: 1.5;
 }

h2 {
    color: white;
    font-weight: 250;
    font-size: 2.5em;
    line-height: 1.5;
    font-family: 'Lucida Sans', sans-serif;
    border: 1px solid red;
}

p {
    margin: 1em 0;
    font-weight: 300;
    font-size: 1.125em;
    line-height: 2;
    border: 1px solid red;
}

.button-choices {
    font-size: 50px;
    display:flex;
    /* width: 300px;
    height: 120px; */
    justify-content: flex-start;
    margin: 10px;
    align-items: stretch;
    
}

.button-characters {
    font-size: 50px;
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    align-items: stretch;
}

.btn-default {
    padding: 5px 10px;
    border: 0;
    border-radius: 1em;
    color: black
}

img {
    width: 500px;
    height: 500px
}

.game-area {
    display: flex;
    width: 500px;
    height: 500px;
    flex-direction: column;
}